<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TECHNO-DATA</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      TECHNO-DATA
    </h1>
    <nav>
    {{#if loggedIn}}
    <a href="/">homepage</a>
    <a href="/dashboard">dashboard</a>
    <a href="/dasboard/post/">post</a>
    <button class="btn" id="logout">logout</button>
    {{else}}
    <a href="/">homepage</a>
    <a href="/login" class="btn" id="login">login</a>
    {{/if}}
       </nav>
  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

  <footer class="footer">
      <p>
        
      </p>
  </footer>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>