<div class="column">
<h2 class="title pb-4">Login:</h2><hr>
<div class="login" id="login">
  <div>
    <label for="user-email">Email:</label>
    <input type="text" id="user-email"/>
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="user-password"/>
  </div>
  <div>
    <button type="submit" class="button login is-primary">Login</button>
    <a href="/signup"><button type="button" class="button is-primary">Signup</button></a>
  </div>
</div>
</div>

<!-- connection to javascript file-->
<script src="/js/login.js"></script>