<div class="column">
<h2 class="title">Sign up</h2><hr>
<div class="signup">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="user-email">Email:</label>
    <input type="text" id="user-email" />
  </div>
  <div>
    <label for="user-password">Password:</label>
    <input type="password" id="user-password" />
  </div>
  <div>
    <button id="signup" type="submit" class="button">Submit</button>
  </div>
</div>
</div>

<script>
  async function signupFormHandler(event) {
    event.preventDefault();
  
    const name = document.querySelector('#username').value.trim();
    const email = document.querySelector('#user-email').value.trim();
    const password = document.querySelector('#user-password').value.trim();

    if (name && email && password) {
      const response = await fetch('/api/users', {
        method: 'post',
        body: JSON.stringify({
          name,
          email,
          password
        }),
        headers: { 'Content-Type': 'application/json' }
      });
  
      if (response.ok) {
        console.log('Congratulations! You can sign in with your credentials now!');
        document.location.replace('/dashboard');
      } else {
        alert(response.statusText);
      }
    }
    
}
  
document.querySelector('#signup').addEventListener('click', signupFormHandler);
</script>

<!-- connection to javascript file-->
{{!-- <script src="./js/signup.js"/ --}}