<div class="column">
<h2 class="title">Sign up</h2><hr>
<div class="signup" id="#signup">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="user-email">Email:</label>
    <input type="text" id="user-email" />
  </div>
  <div>
    <label for="user-password">Password:</label>
    <input type="password" id="user-password" />
  </div>
  <div>
    <button type="submit" class="button">Submit</button>
  </div>
</div>
</div>

<!-- connection to javascript file-->
<script src="/js/signup"></script>