

{{#if logged_in}}
<div class="comment">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="button" type="submit">Add a comment</button>
  </div>
  
</div>

<script src="/js/commentPost.js"></script>
{{/if}}